<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<section class="content" layout:fragment="content">

    <div class="box">

        <div class="box-header with-border">
            <h3>Submit Time Record</h3>
        </div>

        <form action="#" method="post" th:action="@{/time-records}" th:object="${submitTimeRecordForm}">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2" for="date">Date</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="date" th:field="*{date}" type="date"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="task">Task</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="task" th:field="*{taskId}">
                            <option th:each="task : ${tasks}" th:text="${task.name}" th:value="${task.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="hours">Hours</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="hours" step="0.25" th:field="*{hours}" type="number"/>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <input class="btn btn-default" type="submit" value="Submit Time Record"/>
            </div>
        </form>

    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3>Your Time Records</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Task</th>
                    <th>Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.date}">Date</td>
                    <td th:text="${record.taskName}">Task</td>
                    <td th:text="${record.hours}">Hours</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

</body>

</html>